@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* colors 
#B1D2F7 - rgb(177, 210, 247)
#66A9F5 - rgb(102, 169, 245)
#5186C2 - rgb(81, 134, 194)
#546475 - rgb(84, 100, 117)
#315175 - rgb(49, 81, 117)
#354352 - rgb(53, 67, 82)
*/

div#preload {display: none;}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

.body-container {
  color: white;
  background-color: rgb(53, 67, 82);
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}

section {
  padding: 3.0rem;
  margin: 2.0rem 0;
}

article {
  width: 50%;
}

.flex-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}

.large-section {
  padding: 3.0rem 5.0rem;
}

.large-section > h2 {
  padding-left: 5.0rem;
}

h1 {
  font-size: 6.4rem;
  font-weight: 300;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.8rem;
}

p {
  font-size: 2.0rem;
}

ul {
  border-right: 2px solid white;
  border-left: 2px solid white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  list-style-type: none;
  height: 4.0rem;
  padding: 0 1.0rem;
}

li {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2.0rem;
}

a {
  color: rgb(177, 210, 247);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: rgb(81, 134, 194);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.subtitle {
  color: rgb(177, 210, 247);
}

.button {
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
  border-radius: 0;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: rgb(53, 67, 82);
}

/* Header Bar */

#fixed-header {
  z-index: 1;
  background-color: rgb(84, 100, 117);
  position: fixed;
  top: -70px;
  width: 1920px;
  height: 70px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

#fixed-logo-and-name, #fixed-nav-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 4.0rem;
}

#fixed-logo-and-name {
  position: fixed;
  left: 5.0rem;
}

#fixed-logo-and-name > img {
  width: 4.0rem;
  margin-right: 2.5rem;
}

#fixed-logo-and-name > h1 {
  font-size: 3.2rem;
}

#fixed-nav-bar {
  height: 4.0rem;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  right: 5.0rem;
}

#fixed-nav-bar > ul {
  height: 3.0rem;
  padding: 0 1.0rem;
}

#fixed-nav-bar li {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2.0rem;
}

.whiten {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menu-btn {
  display: none;
}

/* Static Header */

#static-logo-and-name, #static-nav-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 20.0rem;
  width: 100%;
}

#static-logo-and-name > img {
  width: 8.0rem;
  margin-right: 5.0rem;
}

#static-nav-bar {
  height: 5.0rem;
  text-align: center;
}

#mobile-static-header {
  display: none;
  width: 100%;
  height: 70px;
  background-color: rgb(53, 67, 82);
}

  /* mobile nav */

#mobile-nav-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border: none;
}

.link-m {
  font-size: 6.0rem;
  line-height: 8vh;
}

#menu-close-btn {
  position: fixed;
  top: 0;
  right: 4.0rem;
  font-size: 10.0rem;
}

/* Weclome Section */

#welcome-section {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(53, 67, 82, 0.8)), to(rgba(53, 67, 82, 0.8))), url('images/Linderman.jpg');
  background: linear-gradient(0deg, rgba(53, 67, 82, 0.8), rgba(53, 67, 82, 0.8)), url('images/Linderman.jpg');
  background-position: right;
  width: 100%;
  max-width: 1920px;
  margin-top: 5.0rem;
  padding: 0;
}

#profile-pic-design {
  width: 50.0rem;
  height: 50.0rem;
  position: relative;
}

#profile-pic {
  width: 30.0rem;
  position: absolute;
  top: 10.0rem;
  right: 5.0rem;
}

.profile-pic-square {
  height: 25.0rem;
  width: 25.0rem;
  position: absolute;
}

#profile-pic-square-1 {
  background-color: rgb(49, 81, 117);
  top: 5.0rem;
  left: 10.0rem;
}

#profile-pic-square-2 {
  background-color: rgb(177, 210, 247);
  top: 20.0rem;
  left: 6.0rem;
}

#welcome-message > p {
  font-size: 2.4rem;
}

/* Education and IBE Sections */

#education-section, #ibe-section {
  margin: 0;
}

#education-pic, #ibe-pic {
  width: 52.0rem;
}

/* Honors Section */

#honors-section {
  padding: 5.0rem 0;
  background-color: rgb(49, 81, 117);
  text-align: center;
}

.third {
  width: 33%;
  height: 40.0rem;
}

.third > h3 {
  margin: 0;
}

#deans-list-third {
  width: 34%;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#tau-beta-pi-logo {
  height: 25.0rem;
  margin-top: 5.0rem;
  border-radius: 5%;
}

#GPA {
  font-size: 8rem;
  font-weight: 600;
  margin-bottom: 0;
}

#overall-GPA-label {
  font-size: 3.6rem;
}

#six-sigma-logo {
  height: 25.0rem;
  margin-top: 5.0rem;
}

/* Projects Section */

.project-square {
  width: 34.0rem;
  height: 34.0rem;
  background-color: rgb(177, 210, 247);
  margin: 3.0rem 1.0rem;
  position: relative;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-square:hover, .project-square:focus {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-title {
  box-sizing: border-box;
  padding: 2.0rem;
  background-color: rgba(53, 67, 82, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-square:hover .project-title {
  opacity: 1;
}

#projects-content {
  width: 1400px;
  flex-wrap: wrap;
}

#projects-button-container {
  padding: 2.0rem;
}

.hidden-project {
  display: none;
}

  /* Individual Project Image Styles */

#project-ibe-capstone, #img-ibe-capstone {
  background-image: url("images/projects/IBE_Capstone.jpg");
}
#project-blackjack, #img-blackjack {
  background-image: url("images/projects/Blackjack_game.jpg");
}
#project-jj-comp {
  background-image: url("images/projects/J&J_Competition.png");
}
#img-jj-comp {
  background-image: url("images/projects/J&J_Competition_modal.png");
}
#project-cs-classwork, #img-cs-classwork {
  background-image: url("images/projects/CS_Coursework.jpg");
}
#project-data-str, #img-data-str {
  background-image: url("images/projects/Data_Structures.jpg");
}
#project-business-game, #img-business-game {
  background-image: url("images/projects/IBE_Business_game.jpg");
}
#project-hawk-messenger {
  background-image: url("images/projects/Hawk_Messenger.jpg");
}
#img-hawk-messenger {
  background: rgb(144,40,121);
  background: linear-gradient(75deg, rgba(144,40,121,1) 0%, rgba(253,29,29,1) 50%, rgba(252,182,69,1) 89%);
}
#project-ibe-fw {
  background-image: url("images/projects/IBE_Freshman_Workshop.jpg");
}
#img-ibe-fw {
  background-image: url("images/projects/IBE_FW_modal.jpg")
}
#project-prev-site {
  background-image: url("images/projects/Previous_Website.jpg");
}
#img-prev-site {
  background-image: url("images/projects/Previous_Website_modal.jpg");
}

/* Skills Section */

#skills-section {
  background-color: rgb(81, 134, 194);
}

#skills-content-wrapper {
  margin-bottom: 5.0rem;
}

#skills-content {
  width: 160.0rem;
  -webkit-box-align: start;
          align-items: flex-start;
}

.skills-subsection {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0 10.0rem;
}

.skills-subsection > h3 {
  padding-top: 0;
  margin-top: 0;
}

#skills-programming {
  border-left: 2px solid white;
}

  /*Skill bars*/

.skill {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.skill > p {

  margin: 0.5rem 0;
}

.skill-bar {
  width: 40%;
  height: 1.0rem;
  background-color: rgba(255,255,255,0.5);
}

.skill-bar-fill {
  background-color: white;
  height: 1.0rem;
}

  /*Skill bar fills*/

#excel {width: 100%;}
#word {width: 100%;}
#powerpoint {width: 100%;}
#figma {width: 90%;}
#illustrator {width: 70%;}
#access {width: 60%;}
#labview {width: 60%;}
#minitab {width: 60%;}
#jmp {width: 50%;}
#pspice {width: 50%;}

#java {width: 100%;}
#html {width: 100%;}
#css {width: 100%;}
#c {width: 80%;}
#javascript {width: 80%;}
#matlab {width: 70%;}
#mongodb {width: 60%;}
#jquery {width: 50%;}
#node {width: 50%;}
#express {width: 40%;}
#mongoose {width: 40%;}
  

/* Leadership Section */

.leadership-position {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 6.0rem 2.0rem;
}

.leadership-pic {
  width: 25.0rem;
  border-radius: 50%;
  margin-right: 10.0rem;
}

.leadership-article > h3, .leadership-article > .subtitle {
  margin: 0;
}

/* Footer */

footer {
  margin-bottom: 0;
  background-color: rgb(84, 100, 117);
}

#footer-content {
  margin-top: 10.0rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#footer-links {
  padding: 2.0rem 0 0;
}

#footer-links > a {
  color: rgb(177, 210, 247);
  font-size: 2.8rem;
  padding: 0;
  margin: 0 1.0rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#footer-links a:hover {
  color: rgb(81, 134, 194);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Modals */

.modal-bkg {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal {
  box-sizing: border-box;
  z-index: 3;
  background-color: rgb(49, 81, 117);
  width: 70vw;
  max-width: 1600px;
  max-height: 95vh;
  overflow-y: auto;
}

.modal-img {
  width: 100%;
  height: 20.0rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.modal-content {
  padding: 5.0rem 5.0rem 0;
}

.modal-content > h3, .modal-content > .subtitle {
  margin: 0;
}

.modal-button-container {
  padding: 2.0rem;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.modal-button-container > * {
  margin: 0 1.0rem;
}

#ibe-fw-brush {
  width: 60%;
  max-width: 600px;
  padding: 1.0rem;
}


/* Alternate device widths */

/* Zoomed out devices (1920px and up) */
@media only screen and (min-width: 1920px) {
  #fixed-logo-and-name, #fixed-nav-bar {
    position: relative;
  }
}

/* Large devices (laptops/desktops, 992px-1200px) */
@media only screen and (max-width: 1200px) {
  html {font-size: 8px;}
}

/* Medium devices (landscape tablets, 768px-992px) */
@media only screen and (max-width: 992px) {
  html {font-size: 6px;}

  .project-title {
    opacity: 1;
    height: 33%;
  }
}

/* Small devices (portrait tablets and large phones, 600px-768px) */
@media only screen and (max-width: 768px) {
  
  /* Header Bar */

  #fixed-logo-and-name > img {
    width: 40px;
  }

  #fixed-logo-and-name > h1 {
    font-size: 32px;
  }
  
  #menu-btn {
    display: block;
  }

  #fixed-nav-bar > ul {
    display: none;
  }

  /* Welcome Section */

  #profile-pic-design {
    font-size: 5px;
    width: 50.0em;
    height: 50.0em;
  }
  
  #profile-pic {
    width: 30.0em;
    top: 10.0em;
    right: 5.0em;
  }
  
  .profile-pic-square {
    height: 25.0em;
    width: 25.0em;
  }
  
  #profile-pic-square-1 {
    top: 5.0em;
    left: 10.0em;
  }
  
  #profile-pic-square-2 {
    top: 20.0em;
    left: 6.0em;
  }

  #welcome-message > p {
    font-size: 2.4rem;
  }

  /* Education and IBE Sections */

  #education-pic, #ibe-pic {
    width: 35%;
  }

    /* Modals */

    .modal {
      width: 80vw;
    }

  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* flex direction changes */
  #welcome-section, #ibe-section, #honors-section, #skills-content, .leadership-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  article {
    width: 80%;
  }

  .large-section {
    padding: 3.0rem 0;
  }
  
  .large-section > h2 {
    padding-left: 5.0rem;
  }

  
  /* Header Bar */

  #fixed-header {
    top: 0;
  }

  #fixed-logo-and-name > h1 {
    display: none;
  }
  
  /* Static Header */
  
  #static-header {
    display: none;
  }

  #mobile-static-header {
    display: block;
  }

  /* Welcome Section */

  #welcome-section {
    margin-top: 0;
    padding-bottom: 2.0rem;
  }

  /* Education and IBE Sections */

  #education-pic, #ibe-pic {
    width: 80%;
    margin-top: 4.0rem;
  }

  #education-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }

  /* Honors Section */

  .third {
    width: 65%;
    height: auto;
    margin: 4.0rem 0;
  }

  #deans-list-third {
    width: 50%;
    padding: 6.0rem;
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  #GPA {
    font-size: 7.2rem;
  }

  #overall-GPA-label {
    font-size: 3.0rem;
  }

  /* Skills Section */
  
  #skills-content {
    -webkit-box-align: center;
            align-items: center;
  }
  
  .skills-subsection {
    padding: 4.0rem 0;
    width: 70%;
  }
  
  #skills-programming {
    border-left: none;
  }

  /* Leadership Section */

  .leadership-pic {
    margin: 0 0 3.0rem;
  }

  /* Modals */

  .modal {
    width: 95vw;
  }

  .modal-button-container {
    -webkit-box-pack: center;
            justify-content: center;
  }
}